 <style>
        .center-text {
            text-align: center;
            background-color: rgb(255, 153, 0);
            
        }
        .card{
               border: 2px solid #080808;
               margin: 10px;
               padding: 24px;
        }

    </style>